<section class="product__container">
  <div class="product-image__container" >
     <img [src]="produto?.imagem" alt="">          <!-- aqui após produto tem interrogacao, nao sei o motivo, lá em produtos.component.ts nao tem interrogacao-->
  </div>   <!--fazendo acima o data biding-->
  <div class="product-description__container">
    <h2 class="product__name">{{produto?.descricao}}</h2>  <!-- aqui após produto tem interrogacao, nao sei o motivo, lá em produtos.component.ts nao tem interrogacao-->
    <h3 class="product__price">{{produto?.preco| currency: "BRL"}}</h3>  <!-- aqui após produto tem interrogacao, nao sei o motivo, lá em produtos.component.ts nao tem interrogacao-->
    <p> Estoque disponivel</p>
    <label>
      Quantidade:     <!--two waqy data biding-->
      <input type="number" [(ngModel)]="quantidade" min="1"> unidade(s)
    </label>
    <p class="product__avaiability"> {{produto?.quantidadeEstoque}} unidade(s) em estoque</p>   <!-- quantidade em estoque-->
    <button (click)="adicionarAoCarrinho()"> Adicionar ao carrinho</button>   <!-- aqui adicionei o evento de click-->
  </div>
  </section>
