<h2 class="cart-title">Carrinho</h2>
<div *ngIf="itensCarrinho.length > 0; else semProduto" ><!--criei esse componente, la embaixo inseri esse component -->
  <ul>
    <li *ngFor="let itemCarrinho of itensCarrinho">
      <img [src]="itemCarrinho.imagem">
      <p>{{itemCarrinho.descricao}}</p>
      <p>Preço: {{itemCarrinho.preco | currency: "BRL "}}</p>
      <label>
        Quantidade:                                               <!-- quando detectar mudança, chame o total-->
        <input type="text" [(ngModel)]="itemCarrinho.quantidade" (change)="calcularTotal()">
      </label>
      <button class="remove-button" (click)="removeProdutoCarrinho(itemCarrinho.id)"><i class="fa-solid fa-xmark"></i></button>
  </ul>
  <h2 class="cart-total">Total:{{total | currency: " BRL "}}</h2>   <!-- aqui só traz a propriedade-->
  <button class="buy-button"(click)="comprar()">Comprar</button>
</div>
<ng-template #semProduto> Nenhum produto foi adicionado ao carrinho</ng-template>
