.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.container i {
  font-size: 150px;
  color:red;
}

.container h2 {
  font-size: 35px;
}
